# Игнор-лист файлов проекта
# Игнорировать ВСЕ файлы и директории, включая поддиректории и файлы в них

#дирректории
/.idea/*
/out/*
/target/*
/src/main/java/META-INF/*
/META-INF/*

#файлы
*.iml
*.jar
*.bat
